flows.json
[{"id":"c38d4659f6bc20e9","type":"inject","z":"436c3995ddcf231f","name":"4 A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":1030,"y":100,"wires":[["d6efdf8446f36de8"]]},{"id":"1611c7a460781d37","type":"inject","z":"436c3995ddcf231f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["c04e2b1c2d3fc80b"]]},{"id":"b1279d5c5b0d8a5e","type":"inject","z":"436c3995ddcf231f","name":"3 A","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":1030,"y":40,"wires":[["d6efdf8446f36de8"]]},{"id":"d6efdf8446f36de8","type":"api-call-service","z":"436c3995ddcf231f","name":"Limit Charging","server":"767f935c04324987","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":["garaz"],"deviceId":["d29e5ec78b98c0b5a919de9489d05507"],"entityId":["number.anet_charging_amps"],"data":"{\"value\":msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":160,"wires":[[]]},{"id":"e0231b43cd0cdb88","type":"function","z":"436c3995ddcf231f","name":"logic","func":"let minCur = 2;     // fetch from some UI ?\nlet doD = parseInt(global.get('homeassistant.homeAssistant.states[\\\"number.depth_of_discharge_on_grid\\\"].state'));\nlet minSOC = 15 + (100 - doD); // try to keep SOC 15 % above DOD\nlet voltage = 230;  // TODO read from GoodWe\nlet vyroba = global.get('homeassistant.homeAssistant.states[\\\"sensor.pv_power\\\"].state');\nlet spotreba = global.get('homeassistant.homeAssistant.states[\\\"sensor.house_consumption\\\"].state');\nlet soc = global.get('homeassistant.homeAssistant.states[\\\"sensor.battery_state_of_charge\\\"].state');\nlet currentAmps = parseInt(global.get('homeassistant.homeAssistant.states[\\\"number.anet_charging_amps\\\"].state'));\nlet volne = vyroba - spotreba;\nlet oneAmpPower = voltage * 3;\nlet spareAmps = Math.floor(volne / oneAmpPower);\nif (soc > minSOC) spareAmps++;\nlet newAmps = currentAmps + spareAmps;\nif (newAmps >= minCur)\n    msg.payload = newAmps;\nelse\n    msg.payload = minCur; // if occurs for too long then better stop charging\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":160,"wires":[["557d31368a088236","e98b05bf9e3ffe69"]]},{"id":"e98b05bf9e3ffe69","type":"debug","z":"436c3995ddcf231f","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":220,"wires":[]},{"id":"557d31368a088236","type":"rbe","z":"436c3995ddcf231f","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1070,"y":160,"wires":[["d6efdf8446f36de8"]]},{"id":"e49fc4df55642ce9","type":"api-current-state","z":"436c3995ddcf231f","name":"Charging?","server":"767f935c04324987","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.anet_charging","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":160,"wires":[["f06f1125c02614cf"]]},{"id":"f06f1125c02614cf","type":"switch","z":"436c3995ddcf231f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":160,"wires":[["e0231b43cd0cdb88"]]},{"id":"c04e2b1c2d3fc80b","type":"api-current-state","z":"436c3995ddcf231f","name":"Wallbox zapojen","server":"767f935c04324987","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.tesla_wall_connector_vehicle_connected","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":160,"wires":[["bed1b695e12d8ab0"]]},{"id":"bed1b695e12d8ab0","type":"switch","z":"436c3995ddcf231f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":160,"wires":[["e49fc4df55642ce9"]]},{"id":"767f935c04324987","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":true}]